{
  "ExternalCommands": [
    {
      "External_Command_ID": "TemperatureDown",
      "Haptic_Events": [
        {
          "Haptic_Effect": "Cold",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "All",
              "Spatialization": "Global",
              "Gain": 0.8
            }
          ]
        }
      ]
    },
    {
      "External_Command_ID": "TemperatureUp",
      "Haptic_Events": [
        {
          "Haptic_Effect": "Hot",
          "Targeting": [
            {
              "Target": "Hand"
            }
          ]
        }
      ]
    }
    ]
}