{
  "ExternalCommands": [
    {
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Stupefy_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "00_Stupefy",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "All",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    },
    {
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/StupefyHeavy_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "01_Stupefy_Heavy",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "All",
              "Spatialization": "Global",
              "Gain": 0.5
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Revelio_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "02_Revelio",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Expelliarmus_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "03_Expelliarmus",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Descendo_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "04_Descendo",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Glacius_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "05_Glacius",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Diffindo_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "06_Diffindo",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Accio_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "07_Accio",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Incendio_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "08_Incendio",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.5
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/TransformationOverland_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "09_TransformationOverland",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Flipendo_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "10_Flipendo",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Expulso_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "11_Expulso",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Confringo_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "12_Confringo",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.5
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Crucio_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "13_Crucio",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 1.0
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Depulso_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "14_Depulso",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    },
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Wingardium_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "15_Wingardium",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Protego_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "16_Protego",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/ArrestoMomentum_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "17_ArrestoMomentum",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Levioso_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "18_Levioso",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Disillusionment_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "19_Disillusionment",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Lumos_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "20_Lumos",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Reparo_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "21_Reparo",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/AvadaKedavra_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "22_AvadaKedavra",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 1.0
            }
          ]
        }
      ]
    }, 
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Damage_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "23_Damage",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Chest",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Waist",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Leg",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Hand",
              "Spatialization": "Global",
              "Gain": 1.0
            },
			{
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.3
            }
          ]
        }
      ]
    },
	{
      "External_Command_ID": "../../../Phoenix/Plugins/ChromaSDKPlugin/Content/Imperius_Mousepad.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "24_Imperius",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "All",
              "Spatialization": "Global",
              "Gain": 1.0
            }
          ]
        }
      ]
    }
    ]
}