{
    "ExternalCommands": [
        {
            "External_Command_ID": "Ammo_OFF",
            "Interrupts_Commands": [
                "Ammo_ON"
            ]
        },
        {
            "External_Command_ID": "Ammo_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Ammo_ON",
                    "Loop": "infinity",
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Hotkeys_OFF",
            "Interrupts_Commands": [
                "Hotkeys_ON"
            ]
        },
        {
            "External_Command_ID": "Hotkeys_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Hotkeys_ON",
                    "Loop": "infinity",
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Gradient1_OFF",
            "Interrupts_Commands": [
                "Gradient1_ON"
            ]
        },
        {
            "External_Command_ID": "Gradient1_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Gradient1_ON",
                    "Loop": "infinity",
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Gradient2_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Gradient2_ON",
                    "Loop": "infinity",
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Gradient2_OFF",
            "Interrupts_Commands": [
                "Gradient2_ON"
            ]
        },
        {
            "External_Command_ID": "Gradient3_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Gradient3_ON",
                    "Loop": "infinity",
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Gradient3_OFF",
            "Interrupts_Commands": [
                "Gradient3_ON"
            ]
        },
        {
            "External_Command_ID": "Gradient4_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "Gradient4_ON",
                    "Loop": "infinity",
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "Gradient4_OFF",
            "Interrupts_Commands": [
                "Gradient4_ON"
            ]
        },
        {
            "External_Command_ID": "ExtendedKeyboard_OFF",
            "Interrupts_Commands": [
                "ExtendedKeyboard_ON"
            ]
        },
        {
            "External_Command_ID": "ExtendedKeyboard_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "ExtendedKeyboard_ON",
                    "Loop": "infinity",
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ColorRandom_MERGE",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "ColorRandom_MERGE",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        }
    ]
}