{
  "ExternalCommands": [
    {
      "External_Command_ID": "../../../../../../Users/antoine.mariton/Downloads/UE5_ChromaFrostpunk2/UE5_ChromaFrostpunk2/Chroma_Sample/Content/Animations/Trails_Keyboard.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "Cold",
          "Mixing": "Merge",
          "Targeting": [
            {
              "Target": "Head",
              "Spatialization": "Global",
              "Gain": 0.8
            }
          ]
        }
      ]
    },
    {
      "External_Command_ID": "../../../../../../Users/antoine.mariton/Downloads/UE5_ChromaFrostpunk2/UE5_ChromaFrostpunk2/Chroma_Sample/Content/Animations/Trails_Keyboard.chroma",
      "Haptic_Events": [
        {
          "Haptic_Effect": "Hot",
          "Targeting": [
            {
              "Target": "Hand"
            }
          ]
        }
      ]
    }
    ]
}