{
  "ExternalCommands": [
    {
      "External_Command_ID": "martial",
      "Haptic_Events": [
        {
          "Haptic_Effect": "Hit",
          "Mixing": "Merge",
		  "Loop":"infinity",
          "Targeting": [
            {
              "Target": "All",
              "Spatialization": "Global",
              "Gain": 0.8
            }
          ]
        }
      ]
    },
    {
      "External_Command_ID": "magic",
      "Haptic_Events": [
        {
          "Haptic_Effect": "Spell",
          "Targeting": [
            {
              "Target": "Hand",
              "Spatialization": "Right"
            }
          ]
        }
      ]
    }
    ]
}