{
    "ExternalCommands": [
        {
            "External_Command_ID": "15Hz",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "15Hz",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "20Hz",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "20Hz",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "25Hz",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "25Hz",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "30Hz",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "30Hz",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "35Hz",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "35Hz",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "50Hz",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "50Hz",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "60Hz",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "60Hz",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "100Hz",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "100Hz",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "30to65_5Hzstep1s",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "30to65_5Hzstep1s",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "AmpLinearity50Hz",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "AmpLinearity50Hz",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "AmpLinearity60Hz",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "AmpLinearity60Hz",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "AmpLinearity65Hz",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "AmpLinearity65Hz",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "ComplexSignlaRendering",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "ComplexSignlaRendering",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "FreqSweep30_100",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "FreqSweep30_100",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "FreqSwipe15to300",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "FreqSwipe15to300",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "FreqSwipe20to300",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "FreqSwipe20to300",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "FreqSwipe25to120",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "FreqSwipe25to120",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "FreqSwipe25to200",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "FreqSwipe25to200",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "FreqSwipe30to300",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "FreqSwipe30to300",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TransientsDownUP_LongInterval",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TransientsDownUP_LongInterval",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TransientsDownUP_ShortInterval",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TransientsDownUP_ShortInterval",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "TransientsInRowDecreasingInterval",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "TransientsInRowDecreasingInterval",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "VibMix100_50_Esther",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "VibMix100_50_Esther",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "VibMix50_100_Esther",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "VibMix50_100_Esther",
                    "Loop": 1,
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Left",
                            "Target": "All"
                        }
                    ]
                }
            ]
        } 
    ]
}